- name: install nginx
  apt: 
    name:
      - nginx
    state: present
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: start nginx
  service:
    name: nginx
    state: started
  become: yes

- name: index
  template:
    src: index.html.j2
    dest: /var/www/html/index.html

- name: stop and disable nginx
  service:
    name: nginx
    state: stopped   # Arrête le service immédiatement
    enabled: no      # Empêche le démarrage automatique au prochain boot
  become: yes

